Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# если запрос начинается с backend, перенаправить на backend/web/
RewriteCond %{REQUEST_URI} ^/backend
RewriteRule ^backend(.*) backend/web/$1 [L]

# если запрос начинается с frontend, перенаправить на frontend/web/
RewriteCond %{REQUEST_URI} ^/frontend
RewriteRule ^frontend(.*) frontend/web/$1 [L]

# принудительный www, если вам это нужно
RewriteCond %{HTTP_HOST} ^example.com
RewriteRule ^(.*)$ http://www.example.com/$1 [R=permanent,L]

# обработка ЧПУ Yii - если файл или директория не найдены, перенаправить на frontend/web/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . frontend/web/index.php